.hero-section {
  font-family: var(--font-heading);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  padding: var(--standard-padding);
  padding-top: 0;
  text-align: center;
  overflow: visible;
}

.hero-text {
  padding-top: 4rem;
  margin-bottom: 2.5rem;
}

.hero-underline-text {
  text-decoration: underline var(--color-secondary) 0.075rem;
  text-underline-offset: 0.25rem;
}

.hero-underline-text:hover {
  cursor: pointer;
}

.hero-image {
  margin-top: 4rem;
  background-image: url("../../assets/images/image-hero.webp");
  background-size: contain;
  background-repeat: no-repeat;
  width: var(--hero-img-width);
  max-width: var(--hero-img-max-width);
  aspect-ratio: 16 / 9;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .hero-section::before,
  .hero-section::after {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--pattern-img-width, 150px);
    height: var(--pattern-img-height, 150px);
  }

  .hero-section::before {
    background-image: url("../../assets/images/bg-pattern-1.svg");
    left: -200px;
    height: 300px;
    width: 400px;
    top: 30%;
    transform: translateY(-50%);
  }

  .hero-section::after {
    background-image: url("../../assets/images/bg-pattern-2.svg");
    right: -80px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (min-width: 768px) {
  :root {
    --standard-padding: 2rem 2rem;
    --min-width: 768px;

    --hero-img-width: 90%;
    --hero-img-max-width: 750px;
  }
}

@media (min-width: 1440px) {
  .hero-section::before {
    left: -100px;
  }

  .hero-section::after {
    background-image: url("../../assets/images/bg-pattern-2.svg");
    right: -40px;
  }
}
