.features-section {
  color: var(--color-dark-gray);
  font-size: var(--font-size-sm);
  padding: var(--standard-padding);
}

.single-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.feature-title {
  font-weight: var(--font-weight-semi-bold);
}

.feature-number {
  border: 1px solid var(--color-primary);
  padding: 1rem 1.5rem;
  border-radius: 100%;
}

.feature-title,
.feature-number {
  font-family: var(--font-heading);
  font-size: var(--font-size-md);
}

.feature-description {
  line-height: var(--line-height-md);
  font-size: var(--font-size-sm);
}

.lower-half {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .single-feature {
    flex-direction: row;
    text-align: left;
    margin-bottom: 5rem;
  }

  .features-section {
    padding: 2rem 5rem;
    padding-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .features-section {
    display: flex;
    gap: 1rem;
    padding: 2rem 10rem;
  }

  .single-feature {
    flex-direction: column;
    text-align: center;
    margin-bottom: 5rem;
    gap: 1rem;
  }
}
