.footer-section {
  display: grid;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  padding: var(--standard-padding);
  gap: 2rem;
}

.logo-footer {
  background: url("../../assets/images/logo-dark.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 8rem;
  height: 2rem;
  text-align: center;
}

.socials-footer {
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.logo-footer,
.socials-footer {
  cursor: pointer;
}

.facebook-logo {
  background: url("../../assets/images/icon-facebook.svg");
}

.twitter-logo {
  background: url("../../assets/images/icon-twitter.svg");
}

.instagram-logo {
  background: url("../../assets/images/icon-instagram.svg");
}

.social-icon {
  background-repeat: no-repeat;
  background-position: center;
  height: 1.5rem;
  width: 1.5rem;
}
